body
{
    max-height: 400vh;
}

/* ====Первая секция main====*/

/* Первая секция, все элементы выравнены по центру в столбик*/
.section_One {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 35px;
}

.section_One-content {
    background-color: goldenrod;
    margin: 100px 0 0 0;
    width: 70%;
    height: 75%;
}

/* Стиль для отдела со спец предложением */
.section_Two {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 35px;
}

.section_Two-content {
    margin: 5px 15px;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.special_CardHolder {
    margin: 0 10px;
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.special_Card {
    background-color: antiquewhite;
    width: 20%;
    height: 99%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.special_CardSec {
    height: 85%;
    width: 18%;
    opacity: 0.8;
}

.special_CardThird {
    height: 75%;
    width: 16%;
    opacity: 0.6;
}

.special_Card:hover {
    opacity: 1;
    height: 100%;
    width: 21%;
}

.special_CardSec:hover {
    width: 19%;
    height: 90%;
    opacity: 1;
}

.special_CardThird:hover {
    height: 85%;
    width: 18%;
    opacity: 1;
}

.special-image {
    background-color: goldenrod;
    margin: 0 10px;
    width: 65%;
    height: 50%;
}

.section_Three {
    background-color: mediumpurple;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 35px;
}

.section_Four {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    font-size: 35px;
}

.section_Four-content {
    background-color: goldenrod;
    width: 80%;
    height: 80%;
}



@media (max-width: 720px)
{

    body {
        max-height: 200vh; /* ТелефоноЮзерам столько хватит */
    }

    .section_One {
        font-size: 20px;
        justify-content: flex-start;
        height: 40vh;
        padding: 70px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .special_CardHolder {
        height: 40%;
        width: 98%;
    }

    .special_Card {
        border-radius: 5px;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }

    .section_Four-content {
        width: 90%;
        height: 70%;
    }
}

@media (max-width: 550px)
{

    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 40vh;
        padding: 60px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .special_CardThird {
        display: none;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }
}

@media (max-width: 440px)
{
    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 40vh;
        padding: 50px 10px 5px 10px;
    }

    .section_One-content {
        height: 220px;
        width: 320px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }
}