body {
    max-height: 401vh;
    font-family: 'Comic Sans MS';
}

/* ====Первая секция main====*/

/* Первая секция */
.section_One {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 35px;
}

.section_One-content {
    margin: 100px 0 0 0;
    width: 55%;
    height: 85%;
    position: relative;
}

/* Приветственная табличка */

.titleWafle_bg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 90%;
    background-image: url('img/Wafle.png');
    background-repeat: repeat;
    background-size: 100px 100px;
    border: none;
    z-index: 1;
}

.titleWafle_text {
    position: absolute;
    width: 55%;
    height: 50%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .titleWafle_text h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: black;
    }

    .titleWafle_text p {
        font-size: 2rem;
        color: black;
    }

.titleWafle_button {
    position: absolute;
    width: 30%;
    height: 15%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #ff7b54;
    border: none;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

    .titleWafle_button:hover {
        background-color: #e56a3e;
        transform: translate(-50%, -50%) scale(1.02);
    }

.title_Maid {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_Maid-img {
    width: auto;
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);
}

.title_Maid--left {
    left: 0;
    right: auto;
}

.title_Maid--right {
    right: 0;
    left: auto;
}

/* Стиль для отдела со спец предложением */
.section_Two {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 35px;
}

.section_Two-content {
    margin: 5px 15px;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.special_CardHolder {
    margin: 0 10px;
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.special_Card {
    background-color: antiquewhite;
    width: 20%;
    height: 99%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: all 0.5s;
}

.special_CardSec {
    height: 85%;
    width: 18%;
    opacity: 0.8;
    transition: all 0.4s;
}

.special_CardThird {
    height: 75%;
    width: 16%;
    opacity: 0.6;
    transition: all 0.3s;
}

.special_Card:hover {
    opacity: 1;
    height: 100%;
    width: 21%;
}

.special_CardSec:hover {
    width: 19%;
    height: 90%;
    opacity: 1;
}

.special_CardThird:hover {
    height: 85%;
    width: 18%;
    opacity: 1;
}

.special-image {
    background-color: goldenrod;
    margin: 0 10px;
    width: 65%;
    height: 50%;
}

/* ===== СЕКЦИЯ ТРИ ===== */
.section_Three {
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    overflow-y: auto; /* чтобы можно было скроллить, если контента больше экрана */
    padding: 2rem 1rem;
}

/* Ну и наше Реально Существующее (точно не обман) местоположение */
.section_Four {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    font-size: 35px;
}

.section_Four-content {
    background-color: goldenrod;
    width: 80%;
    height: 80%;
}



@media (max-width: 760px)
{

    body {
        max-height: 200vh; /* ТелефоноЮзерам столько хватит */
    }

    .section_One {
        font-size: 20px;
        justify-content: flex-start;
        height: 40vh;
        padding: 70px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }


    .titleWafle_bg {
        width: 75%;
    }

    .titleWafle_text h2 {
        font-size: 1.2rem;
    }

    .titleWafle_text p {
        font-size: 0.9rem;
    }

    .titleWafle_button {
        font-size: 1rem;
        width: 50%;
        height: 15%;
    }

    .title_Maid {
        display: none;
    }


    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .special_CardHolder {
        height: 40%;
        width: 98%;
    }

    .special_Card {
        border-radius: 5px;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }

    .section_Four-content {
        width: 90%;
        height: 70%;
    }
}

@media (max-width: 550px)
{

    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 40vh;
        padding: 60px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .special_CardThird {
        display: none;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }
}

@media (max-width: 440px)
{
    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 40vh;
        padding: 50px 10px 5px 10px;
    }

    .section_One-content {
        height: 220px;
        width: 320px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 30vh;
    }

    .section_Three {
        display: none;
    }

    .section_Four {
        font-size: 10px;
        height: 40vh;
    }
}