body
{
    height: 400vh;
}

/* ====Первая секция main====*/

/* Первая секция, все элементы выравнены по центру в столбик*/
.section_One {
    background-color: forestgreen;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 35px;
}

.section_One-content {
    background-color: cornflowerblue;
    margin: 100px 0 0 0;
    width: 75%;
    height: 70%;
}

/* Стиль для отдела со спец предложением */
.section_Two {
    background-color: red;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 35px;
}

.section_Two-content {
    background-color: cornflowerblue;
    margin: 5px 15px;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.special_CardHolder {
    background-color: brown;
    margin: 0 10px;
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.special_Card {
    background-color: antiquewhite;
    width: 20%;
    height: 100%;
    border-radius: 15px;
}

.special-image {
    background-color: goldenrod;
    margin: 0 10px;
    width: 65%;
    height: 50%;
}

.section_Three {
    background-color: mediumpurple;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 35px;
}

.section_Four {
    background-color: hotpink;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 80px;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 35px;
}



@media (max-width: 900px)
{
    .special_CardHolder {
        width: 100%;
    }

    .special-image {
        width: 75%;
    }
}

@media (max-width: 720px)
{

    body {
        height: 200vh; /* ТелефоноЮзерам столько хватит */
    }

    .section_One {
        font-size: 20px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 50vh;
    }

    .section_Three {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 10px 10px;
    }

    .section_Four {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 10px 10px;
    }
}

@media (max-width: 550px)
{

    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 60px 10px 10px 10px;
    }

    .section_One-content {
        height: 240px;
        width: 480px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 50vh;
    }

    .section_Three {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 10px 10px;
    }

    .section_Four {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 10px 10px;
    }
}

@media (max-width: 440px)
{
    .section_One {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 50px 10px 5px 10px;
    }

    .section_One-content {
        height: 220px;
        width: 320px;
        margin: 50px;
    }

    .section_Two {
        font-size: 10px;
        height: 50vh;
    }

    .section_Three {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 5px 10px;
    }

    .section_Four {
        font-size: 10px;
        justify-content: flex-start;
        height: 50vh;
        padding: 70px 10px 5px 10px;
    }
}